// Global styles used across the application are placed here

// Some fast global styles

body {
  padding: 0;
  margin: 0;
}

nav,
ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

@for $j from 1 to 11 {
  .z-index-#{$j} {
    z-index: $j !important;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.object-fit-contain {
  object-fit: contain;
}

h1 {
  margin: 30px 0;
  font-size: 40px;
}
